.direnv
.envrc
.pre-commit-config.yaml
*.log

# Node artifacts
node_modules

# Purescript artifacts
.psc-ide-port
.spago
.spago2nix
.psci_modules
.psa-stash
.purs-repl
output
generated-docs

# Nix flake output
result